{
 "openapi": "3.1.0",
 "info": {
  "title": "FOSSA API",
  "description": "OpenAPI Specification for public FOSSA APIs",
  "contact": {
   "name": "FOSSA",
   "url": "https://fossa.com",
   "email": "support@fossa.com"
  },
  "version": "4.34.81"
 },
 "servers": [
  {
   "url": "https://app.fossa.com/api",
   "description": "FOSSA's production api server (for cloud only)"
  }
 ],
 "x-readme": {
  "samples-languages": [
   "curl",
   "powershell",
   "python"
  ]
 },
 "externalDocs": {
  "url": "https://docs.fossa.com",
  "description": "product documentation and product guides"
 },
 "tags": [
  {
   "name": "Issues",
   "description": "Issues with a given project or package"
  },
  {
   "name": "Issue Filters",
   "description": "Saved issue filters, including sort and group options"
  },
  {
   "name": "Issue Overview",
   "description": "APIs supporting the Issue Overview dashboard"
  },
  {
   "name": "Projects",
   "description": "Projects within your organization"
  },
  {
   "name": "Revisions",
   "description": "Revisions in a project"
  },
  {
   "name": "Dependencies",
   "description": "Dependencies of a given project or release group"
  },
  {
   "name": "CLI",
   "description": "Related to the FOSSA CLI tool"
  },
  {
   "name": "Organization Labels",
   "description": "Related to labels for your organization's projects"
  },
  {
   "name": "Project Labels",
   "description": "Related to project-level labels"
  },
  {
   "name": "Package Labels",
   "description": "Related to package-level labels"
  },
  {
   "name": "Package Observability",
   "description": "APIs for viewing details about the packages used across your organization"
  },
  {
   "name": "Release Groups",
   "description": "Release groups within your organization"
  },
  {
   "name": "SBOM",
   "description": "APIs related to Software Bill of Materials (SBOM) functionality"
  },
  {
   "name": "Vulnerabilities",
   "description": "APIs supporting vulnerabilities"
  },
  {
   "name": "Organization Settings",
   "description": "APIs supporting organization settings"
  },
  {
   "name": "Jira Integration Settings",
   "description": "APIs supporting Jira integration configuration"
  },
  {
   "name": "Builds",
   "description": "APIs supporting builds for a given project or revision"
  },
  {
   "name": "Portal",
   "description": "APIs to manage your organization's Portal"
  },
  {
   "name": "Audit Logs",
   "description": "APIs to manage audit logs"
  },
  {
   "name": "Organization Limits",
   "description": "APIs for managing your organization"
  },
  {
   "name": "Components",
   "description": "APIs to upload components"
  },
  {
   "name": "Custom Risk Scores",
   "description": "APIs for managing custom risk scores on issues"
  },
  {
   "name": "Users",
   "description": "APIs to manage Users"
  },
  {
   "name": "Teams",
   "description": "APIs to manage Teams"
  },
  {
   "name": "Team Groups",
   "description": "APIs to manage Team Groups"
  },
  {
   "name": "Roles",
   "description": "APIs to manage Roles"
  },
  {
   "name": "GitHub App",
   "description": "Manage GitHub App integration"
  },
  {
   "name": "Fossabot",
   "description": "Manage fossabot dependency-upgrade pull requests"
  },
  {
   "name": "Binary",
   "description": "APIs related to Binary Decomposition functionality"
  },
  {
   "name": "OIDC",
   "description": "APIs for managing OIDC authentication providers and trust relationships"
  },
  {
   "name": "Snippets",
   "description": "APIs related to the Snippet Detection feature"
  },
  {
   "name": "License Conclusions",
   "description": "APIs for managing license conclusions on dependencies"
  },
  {
   "name": "Policies",
   "description": "APIs for managing policies"
  },
  {
   "name": "Report Options",
   "description": "APIs for managing saved report options"
  },
  {
   "name": "Registry Search",
   "description": "APIs for searching third-party package registries"
  }
 ],
 "paths": {
  "/license-conclusions/conclude": {
   "put": {
    "operationId": "addLicenseConclusion",
    "description": "Add a license to the license conclusions for a dependency revision. Requires Edit permission on the dependency revision.",
    "tags": [
     "License Conclusions"
    ],
    "security": [
     {
      "ApiToken": []
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "dependencyRevisionLocator": {
          "type": "string",
          "description": "The locator of the dependency revision"
         },
         "scope": {
          "oneOf": [
           {
            "type": "object",
            "properties": {
             "scope": {
              "type": "string",
              "enum": [
               "project"
              ],
              "description": "Project-scoped conclusion"
             },
             "projectLocator": {
              "type": "string",
              "description": "The locator of the project"
             }
            },
            "required": [
             "scope",
             "projectLocator"
            ]
           },
           {
            "type": "object",
            "properties": {
             "scope": {
              "type": "string",
              "enum": [
               "revision"
              ],
              "description": "Revision-scoped conclusion"
             },
             "projectLocator": {
              "type": "string",
              "description": "The locator of the project"
             },
             "revisionLocator": {
              "type": "string",
              "description": "The locator of the revision"
             }
            },
            "required": [
             "scope",
             "projectLocator",
             "revisionLocator"
            ]
           },
           {
            "type": "object",
            "properties": {
             "scope": {
              "type": "string",
              "enum": [
               "release_group"
              ],
              "description": "Release group-scoped conclusion"
             },
             "releaseGroupId": {
              "type": "integer",
              "description": "The ID of the release group"
             }
            },
            "required": [
             "scope",
             "releaseGroupId"
            ]
           },
           {
            "type": "object",
            "properties": {
             "scope": {
              "type": "string",
              "enum": [
               "release"
              ],
              "description": "Release-scoped conclusion"
             },
             "releaseGroupId": {
              "type": "integer",
              "description": "The ID of the release group"
             },
             "releaseId": {
              "type": "integer",
              "description": "The ID of the release"
             }
            },
            "required": [
             "scope",
             "releaseGroupId",
             "releaseId"
            ]
           },
           {
            "type": "object",
            "properties": {
             "scope": {
              "type": "string",
              "enum": [
               "organization"
              ],
              "description": "Organization-scoped conclusion"
             },
             "organizationId": {
              "type": "integer",
              "description": "The ID of the organization"
             }
            },
            "required": [
             "scope",
             "organizationId"
            ]
           },
           {
            "type": "object",
            "properties": {
             "scope": {
              "type": "string",
              "enum": [
               "global"
              ],
              "description": "Global conclusion (FOSSA admins only)"
             }
            },
            "required": [
             "scope"
            ]
           }
          ]
         },
         "licenseId": {
          "type": "string",
          "description": "The license ID to add or remove"
         },
         "originId": {
          "type": "string",
          "description": "Optional origin revision or release ID to trigger an issue scan"
         }
        },
        "required": [
         "dependencyRevisionLocator",
         "scope",
         "licenseId"
        ]
       },
       "examples": {
        "projectScope": {
         "summary": "Project-scoped conclusion",
         "value": {
          "dependencyRevisionLocator": "npm+lodash$4.17.21",
          "scope": {
           "scope": "project",
           "projectLocator": "git+github.com/fossas/fossa-cli$main"
          },
          "licenseId": "MIT",
          "originId": "git+github.com/fossas/fossa-cli$main"
         }
        },
        "revisionScope": {
         "summary": "Revision-scoped conclusion",
         "value": {
          "dependencyRevisionLocator": "npm+lodash$4.17.21",
          "scope": {
           "scope": "revision",
           "projectLocator": "git+github.com/fossas/fossa-cli$main",
           "revisionLocator": "git+github.com/fossas/fossa-cli$abc123"
          },
          "licenseId": "MIT"
         }
        },
        "releaseGroupScope": {
         "summary": "Release group-scoped conclusion",
         "value": {
          "dependencyRevisionLocator": "npm+lodash$4.17.21",
          "scope": {
           "scope": "release_group",
           "releaseGroupId": 123
          },
          "licenseId": "MIT",
          "originId": "456"
         }
        },
        "organizationScope": {
         "summary": "Organization-scoped conclusion",
         "value": {
          "dependencyRevisionLocator": "npm+lodash$4.17.21",
          "scope": {
           "scope": "organization",
           "organizationId": 42
          },
          "licenseId": "MIT"
         }
        },
        "globalScope": {
         "summary": "Global-scoped conclusion (FOSSA admins only)",
         "value": {
          "dependencyRevisionLocator": "npm+lodash$4.17.21",
          "scope": {
           "scope": "global"
          },
          "licenseId": "MIT"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "License conclusion added successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "dependencyRevisionLocator": {
           "type": "string",
           "description": "The locator of the dependency revision"
          },
          "scope": {
           "type": "string",
           "enum": [
            "project",
            "revision",
            "release_group",
            "release",
            "organization",
            "global"
           ],
           "nullable": true,
           "description": "The scope of the license conclusion. May be `null` for auto-generated conclusions."
          },
          "scopeId": {
           "type": "string",
           "nullable": true,
           "description": "The ID of the scope (project locator, revision locator, release group ID, etc.). `null` for global conclusions."
          },
          "concludedLicenses": {
           "type": "array",
           "items": {
            "type": "string"
           },
           "description": "The list of concluded licenses for this dependency"
          },
          "createdAt": {
           "type": "string",
           "format": "date-time",
           "description": "The date and time the conclusion was created"
          },
          "updatedAt": {
           "type": "string",
           "format": "date-time",
           "description": "The date and time the conclusion was last updated"
          }
         },
         "required": [
          "dependencyRevisionLocator",
          "scope",
          "scopeId",
          "concludedLicenses",
          "createdAt",
          "updatedAt"
         ]
        },
        "examples": {
         "licenseConclusionResponse": {
          "value": {
           "dependencyRevisionLocator": "npm+lodash$4.17.21",
           "scope": "project",
           "scopeId": "git+github.com/fossas/fossa-cli$main",
           "concludedLicenses": [
            "MIT",
            "Apache-2.0"
           ],
           "createdAt": "2024-01-15T10:30:00Z",
           "updatedAt": "2024-01-15T10:30:00Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "invalidRequest": {
          "summary": "Invalid request body",
          "value": {
           "code": 2003,
           "message": "Invalid request body: missing required field",
           "name": "BadRequestError",
           "httpStatusCode": 400
          }
         },
         "missingScopeId": {
          "summary": "Missing scopeId for scoped conclusion",
          "value": {
           "code": 2003,
           "message": "scopeId is required for project/revision scopes",
           "name": "BadRequestError",
           "httpStatusCode": 400
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "forbidden": {
          "summary": "Insufficient permissions",
          "value": {
           "code": 2005,
           "message": "You do not have permission to edit license conclusions for this scope",
           "name": "ForbiddenError",
           "httpStatusCode": 403
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "revisionNotFound": {
          "summary": "Origin revision not found",
          "value": {
           "code": 2004,
           "message": "Origin revision with locator git+github.com/fossas/fossa-cli$abc123 not found or you don't have access",
           "name": "NotFoundError",
           "httpStatusCode": 404
          }
         },
         "releaseNotFound": {
          "summary": "Origin release not found",
          "value": {
           "code": 2004,
           "message": "Origin release with locator 123 not found or you don't have access",
           "name": "NotFoundError",
           "httpStatusCode": 404
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/license-conclusions/unconclude": {
   "put": {
    "operationId": "removeLicenseConclusion",
    "description": "Remove a license from the license conclusions for a dependency revision. Requires Edit permission for the dependency revision.",
    "tags": [
     "License Conclusions"
    ],
    "security": [
     {
      "ApiToken": []
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "dependencyRevisionLocator": {
          "type": "string",
          "description": "The locator of the dependency revision"
         },
         "scope": {
          "oneOf": [
           {
            "type": "object",
            "properties": {
             "scope": {
              "type": "string",
              "enum": [
               "project"
              ],
              "description": "Project-scoped conclusion"
             },
             "projectLocator": {
              "type": "string",
              "description": "The locator of the project"
             }
            },
            "required": [
             "scope",
             "projectLocator"
            ]
           },
           {
            "type": "object",
            "properties": {
             "scope": {
              "type": "string",
              "enum": [
               "revision"
              ],
              "description": "Revision-scoped conclusion"
             },
             "projectLocator": {
              "type": "string",
              "description": "The locator of the project"
             },
             "revisionLocator": {
              "type": "string",
              "description": "The locator of the revision"
             }
            },
            "required": [
             "scope",
             "projectLocator",
             "revisionLocator"
            ]
           },
           {
            "type": "object",
            "properties": {
             "scope": {
              "type": "string",
              "enum": [
               "release_group"
              ],
              "description": "Release group-scoped conclusion"
             },
             "releaseGroupId": {
              "type": "integer",
              "description": "The ID of the release group"
             }
            },
            "required": [
             "scope",
             "releaseGroupId"
            ]
           },
           {
            "type": "object",
            "properties": {
             "scope": {
              "type": "string",
              "enum": [
               "release"
              ],
              "description": "Release-scoped conclusion"
             },
             "releaseGroupId": {
              "type": "integer",
              "description": "The ID of the release group"
             },
             "releaseId": {
              "type": "integer",
              "description": "The ID of the release"
             }
            },
            "required": [
             "scope",
             "releaseGroupId",
             "releaseId"
            ]
           },
           {
            "type": "object",
            "properties": {
             "scope": {
              "type": "string",
              "enum": [
               "organization"
              ],
              "description": "Organization-scoped conclusion"
             },
             "organizationId": {
              "type": "integer",
              "description": "The ID of the organization"
             }
            },
            "required": [
             "scope",
             "organizationId"
            ]
           },
           {
            "type": "object",
            "properties": {
             "scope": {
              "type": "string",
              "enum": [
               "global"
              ],
              "description": "Global conclusion (FOSSA admins only)"
             }
            },
            "required": [
             "scope"
            ]
           }
          ]
         },
         "licenseId": {
          "type": "string",
          "description": "The license ID to add or remove"
         },
         "originId": {
          "type": "string",
          "description": "Optional origin revision or release ID to trigger an issue scan"
         }
        },
        "required": [
         "dependencyRevisionLocator",
         "scope",
         "licenseId"
        ]
       },
       "examples": {
        "projectScope": {
         "summary": "Project-scoped conclusion",
         "value": {
          "dependencyRevisionLocator": "npm+lodash$4.17.21",
          "scope": {
           "scope": "project",
           "projectLocator": "git+github.com/fossas/fossa-cli$main"
          },
          "licenseId": "MIT",
          "originId": "git+github.com/fossas/fossa-cli$main"
         }
        },
        "revisionScope": {
         "summary": "Revision-scoped conclusion",
         "value": {
          "dependencyRevisionLocator": "npm+lodash$4.17.21",
          "scope": {
           "scope": "revision",
           "projectLocator": "git+github.com/fossas/fossa-cli$main",
           "revisionLocator": "git+github.com/fossas/fossa-cli$abc123"
          },
          "licenseId": "MIT"
         }
        },
        "releaseGroupScope": {
         "summary": "Release group-scoped conclusion",
         "value": {
          "dependencyRevisionLocator": "npm+lodash$4.17.21",
          "scope": {
           "scope": "release_group",
           "releaseGroupId": 123
          },
          "licenseId": "MIT",
          "originId": "456"
         }
        },
        "globalScope": {
         "summary": "Global-scoped conclusion (FOSSA admins only)",
         "value": {
          "dependencyRevisionLocator": "npm+lodash$4.17.21",
          "scope": {
           "scope": "global"
          },
          "licenseId": "MIT"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "License conclusion removed successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "dependencyRevisionLocator": {
           "type": "string",
           "description": "The locator of the dependency revision"
          },
          "scope": {
           "type": "string",
           "enum": [
            "project",
            "revision",
            "release_group",
            "release",
            "organization",
            "global"
           ],
           "nullable": true,
           "description": "The scope of the license conclusion. May be `null` for auto-generated conclusions."
          },
          "scopeId": {
           "type": "string",
           "nullable": true,
           "description": "The ID of the scope (project locator, revision locator, release group ID, etc.). `null` for global conclusions."
          },
          "concludedLicenses": {
           "type": "array",
           "items": {
            "type": "string"
           },
           "description": "The list of concluded licenses for this dependency"
          },
          "createdAt": {
           "type": "string",
           "format": "date-time",
           "description": "The date and time the conclusion was created"
          },
          "updatedAt": {
           "type": "string",
           "format": "date-time",
           "description": "The date and time the conclusion was last updated"
          }
         },
         "required": [
          "dependencyRevisionLocator",
          "scope",
          "scopeId",
          "concludedLicenses",
          "createdAt",
          "updatedAt"
         ]
        },
        "examples": {
         "licenseConclusionResponse": {
          "summary": "License removed from conclusions",
          "value": {
           "dependencyRevisionLocator": "npm+lodash$4.17.21",
           "scope": "project",
           "scopeId": "git+github.com/fossas/fossa-cli$main",
           "concludedLicenses": [
            "Apache-2.0"
           ],
           "createdAt": "2024-01-15T10:30:00Z",
           "updatedAt": "2024-01-15T11:00:00Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "invalidRequest": {
          "summary": "Invalid request body",
          "value": {
           "error": "Invalid request body: missing required field"
          }
         },
         "missingScopeId": {
          "summary": "Missing scopeId for scoped conclusion",
          "value": {
           "error": "scopeId is required for project/revision scopes"
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "forbidden": {
          "summary": "Insufficient permissions",
          "value": {
           "error": "You do not have permission to edit license conclusions for this scope"
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "revisionNotFound": {
          "summary": "Origin revision not found",
          "value": {
           "error": "Origin revision with locator git+github.com/fossas/fossa-cli$abc123 not found or you don't have access"
          }
         },
         "releaseNotFound": {
          "summary": "Origin release not found",
          "value": {
           "error": "Origin release with locator 123 not found or you don't have access"
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/services/github-app/installation-url": {
   "get": {
    "operationId": "getGitHubAppInstallationUrl",
    "x-internal": true,
    "description": "Redirects to the GitHub App installation page.",
    "tags": [
     "GitHub App"
    ],
    "security": [
     {
      "ApiToken": []
     }
    ],
    "responses": {
     "302": {
      "description": "Redirects to the GitHub App installation page."
     },
     "403": {
      "description": "The authenticated user is not associated with an organization.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "noOrganization": {
          "summary": "User is not in an organization",
          "value": {
           "message": "You must be in an organization to view this page."
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "The GitHub App is not configured for this FOSSA instance.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "notConfigured": {
          "summary": "GitHub App not configured",
          "value": {
           "code": 2004,
           "message": "GitHub App not configured",
           "name": "NotFoundError",
           "httpStatusCode": 404
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Server Error": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2009,
           "message": "Sorry, we've encountered an unexpected error. We've recorded it. If you continue to see this, contact support at support@fossa.com and include the unique reference code: 00000000-0000-0000-0000-000000000000",
           "name": "InternalServerError",
           "httpStatusCode": 500
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/fossabot/status": {
   "get": {
    "operationId": "getFossabotStatus",
    "x-internal": true,
    "description": "fossabot connection, readiness, and credit status for the calling organization, optionally scoped to one project's repository.\n",
    "tags": [
     "Fossabot"
    ],
    "security": [
     {
      "ApiToken": []
     }
    ],
    "parameters": [
     {
      "name": "projectLocator",
      "description": "Scope the connection check to this project's repository.",
      "required": false,
      "in": "query",
      "schema": {
       "type": "string"
      },
      "example": "git+github.com/fossas/example"
     }
    ],
    "responses": {
     "200": {
      "description": "The fossabot connection status.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "connected",
          "statusAvailable",
          "appUrl",
          "creditLevel",
          "readinessStatus"
         ],
         "properties": {
          "connected": {
           "type": "boolean"
          },
          "statusAvailable": {
           "description": "Whether Core obtained a fossabot status for the requested scope.",
           "type": "boolean"
          },
          "appUrl": {
           "type": "string",
           "nullable": true
          },
          "creditLevel": {
           "type": "string",
           "enum": [
            "available",
            "low",
            "exhausted",
            null
           ],
           "nullable": true
          },
          "readinessStatus": {
           "type": "string",
           "enum": [
            "READY",
            "SYNCING",
            "LINK_REQUIRED",
            "FAILED",
            null
           ],
           "nullable": true
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Bad Request Parameter/Body": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2003,
           "message": "Parse error at root.X: ...",
           "name": "BadRequestError",
           "httpStatusCode": 400
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Bad API Token": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2010,
           "message": "API token is invalid",
           "name": "UnauthorizedError",
           "httpStatusCode": 401
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "The fossabot feature is not enabled or the caller lacks permission.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "The project does not exist in the calling organization.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Server Error": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2009,
           "message": "Sorry, we've encountered an unexpected error. We've recorded it. If you continue to see this, contact support at support@fossa.com and include the unique reference code: 00000000-0000-0000-0000-000000000000",
           "name": "InternalServerError",
           "httpStatusCode": 500
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/fossabot/dependency-upgrade-prs": {
   "get": {
    "operationId": "listFossabotDependencyUpgradePRs",
    "x-internal": true,
    "description": "One cursor-paginated slice of fossabot dependency-upgrade PRs for a project's repository. Provide either first (with optional after) or last (with optional before). A project that is not a fossabot-connected GitHub repository reads as an empty connection.\n",
    "tags": [
     "Fossabot"
    ],
    "security": [
     {
      "ApiToken": []
     }
    ],
    "parameters": [
     {
      "name": "projectLocator",
      "description": "The project whose repository's PRs to list.",
      "required": true,
      "in": "query",
      "schema": {
       "type": "string"
      },
      "example": "git+github.com/fossas/example"
     },
     {
      "name": "first",
      "description": "Number of PRs to return while traversing forward. Cannot be combined with last or before.",
      "required": false,
      "in": "query",
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "after",
      "description": "Opaque end cursor from the preceding forward slice. Requires first.",
      "required": false,
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "last",
      "description": "Number of PRs to return while traversing backward. Cannot be combined with first or after.",
      "required": false,
      "in": "query",
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "before",
      "description": "Opaque start cursor from the following backward slice. Requires last.",
      "required": false,
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "state",
      "description": "Filter by VCS state.",
      "required": false,
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "open",
        "draft",
        "closed",
        "merged"
       ]
      }
     },
     {
      "name": "search",
      "description": "Filter PRs by title.",
      "required": false,
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "description": "Sort order; newest first by default.",
      "required": false,
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "newest",
        "oldest"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "One cursor-paginated slice of fossabot PRs.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "nodes",
          "pageInfo"
         ],
         "properties": {
          "nodes": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "One fossabot dependency-upgrade PR row on the project PRs tab.",
            "required": [
             "title",
             "prNumber",
             "vcsUrl",
             "fossabotUrl",
             "state",
             "analysisBadge",
             "initiatedByUserId",
             "initiatedByName",
             "openedAt",
             "closedAt",
             "mergedAt"
            ],
            "properties": {
             "title": {
              "type": "string"
             },
             "prNumber": {
              "type": "integer",
              "nullable": true
             },
             "vcsUrl": {
              "type": "string",
              "nullable": true
             },
             "fossabotUrl": {
              "description": "PR detail page in the fossabot app. Null when fossabot did not give one.",
              "type": "string",
              "example": "https://bot.fossa.com/pull-requests/9f2b1c04-6d3a-4d1e-9f88-2a7c5b0e41d7",
              "nullable": true
             },
             "state": {
              "type": "string",
              "enum": [
               "open",
               "draft",
               "closed",
               "merged"
              ]
             },
             "analysisBadge": {
              "type": "string",
              "enum": [
               "scanning",
               "analyzed",
               "needsReview",
               null
              ],
              "nullable": true
             },
             "initiatedByUserId": {
              "description": "FOSSA user id of the initiator; null for automated PRs.",
              "type": "integer",
              "nullable": true
             },
             "initiatedByName": {
              "description": "Display name of the initiator; null for automated PRs and for ids with no user in the calling organization.\n",
              "type": "string",
              "example": "Barbu Paul",
              "nullable": true
             },
             "openedAt": {
              "type": "string",
              "format": "date-time"
             },
             "closedAt": {
              "type": "string",
              "format": "date-time",
              "nullable": true
             },
             "mergedAt": {
              "type": "string",
              "format": "date-time",
              "nullable": true
             }
            }
           }
          },
          "pageInfo": {
           "type": "object",
           "description": "Cursor metadata for the requested traversal direction. Clients should retain cursors from visited slices to navigate back to them.\n",
           "required": [
            "startCursor",
            "endCursor",
            "hasNextPage",
            "hasPreviousPage"
           ],
           "properties": {
            "startCursor": {
             "type": "string",
             "nullable": true
            },
            "endCursor": {
             "type": "string",
             "nullable": true
            },
            "hasNextPage": {
             "type": "boolean",
             "description": "For forward requests, whether another forward slice exists. Always false for backward requests.\n"
            },
            "hasPreviousPage": {
             "type": "boolean",
             "description": "For backward requests, whether another backward slice exists. Always false for forward requests.\n"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Bad Request Parameter/Body": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2003,
           "message": "Parse error at root.X: ...",
           "name": "BadRequestError",
           "httpStatusCode": 400
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "The fossabot feature is not enabled or the caller lacks permission.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "The project does not exist in the calling organization.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Server Error": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2009,
           "message": "Sorry, we've encountered an unexpected error. We've recorded it. If you continue to see this, contact support at support@fossa.com and include the unique reference code: 00000000-0000-0000-0000-000000000000",
           "name": "InternalServerError",
           "httpStatusCode": 500
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/fossabot/dependency-upgrade-prs/counts": {
   "get": {
    "operationId": "getFossabotDependencyUpgradePRCounts",
    "x-internal": true,
    "description": "Counts of fossabot dependency-upgrade PRs for a project's repository, by VCS state and analysis verdict. Drives the PRs-tab stat cards and filter chips.\n",
    "tags": [
     "Fossabot"
    ],
    "security": [
     {
      "ApiToken": []
     }
    ],
    "parameters": [
     {
      "name": "projectLocator",
      "description": "The project whose repository's PR counts to fetch.",
      "required": true,
      "in": "query",
      "schema": {
       "type": "string"
      },
      "example": "git+github.com/fossas/example"
     }
    ],
    "responses": {
     "200": {
      "description": "The PR counts.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "total",
          "open",
          "draft",
          "analyzed",
          "needsReview",
          "closed",
          "merged"
         ],
         "properties": {
          "total": {
           "type": "integer"
          },
          "open": {
           "type": "integer"
          },
          "draft": {
           "type": "integer"
          },
          "analyzed": {
           "type": "integer"
          },
          "needsReview": {
           "type": "integer"
          },
          "closed": {
           "type": "integer"
          },
          "merged": {
           "type": "integer"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Bad Request Parameter/Body": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2003,
           "message": "Parse error at root.X: ...",
           "name": "BadRequestError",
           "httpStatusCode": 400
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "The fossabot feature is not enabled or the caller lacks permission.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "The project does not exist in the calling organization.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Server Error": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2009,
           "message": "Sorry, we've encountered an unexpected error. We've recorded it. If you continue to see this, contact support at support@fossa.com and include the unique reference code: 00000000-0000-0000-0000-000000000000",
           "name": "InternalServerError",
           "httpStatusCode": 500
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/fossabot/issues/{issueId}/dependency-upgrade-pr": {
   "get": {
    "operationId": "getFossabotDependencyUpgradePR",
    "x-internal": true,
    "description": "Current state of the fossabot dependency-upgrade PR for an issue: creation progress, analysis progress, and the PR link once it exists.\n",
    "tags": [
     "Fossabot"
    ],
    "security": [
     {
      "ApiToken": []
     }
    ],
    "parameters": [
     {
      "name": "issueId",
      "description": "The FOSSA issue id.",
      "required": true,
      "in": "path",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "projectLocator",
      "description": "Required only when the issue affects more than one project.",
      "required": false,
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "jobId",
      "description": "Creation-job id returned by the create response. A failed creation job is only reportable through its id.\n",
      "required": false,
      "in": "query",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "The PR state for the issue.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "State of a fossabot dependency-upgrade PR for a FOSSA issue.",
         "required": [
          "status",
          "vcsUrl",
          "fossabotUrl",
          "isAnalysisDelayed",
          "jobId"
         ],
         "properties": {
          "status": {
           "type": "string",
           "enum": [
            "none",
            "creating",
            "queued",
            "analyzing",
            "analysisNotRun",
            "needsReview",
            "readyToMerge",
            "merged",
            "closed",
            "failed"
           ]
          },
          "vcsUrl": {
           "description": "PR URL on the VCS provider. Null until the PR exists.",
           "type": "string",
           "nullable": true
          },
          "fossabotUrl": {
           "description": "PR URL in the fossabot UI. Null until the PR exists.",
           "type": "string",
           "nullable": true
          },
          "isAnalysisDelayed": {
           "description": "True while analysis is taking longer than expected or should be retried.",
           "type": "boolean"
          },
          "jobId": {
           "description": "Creation-job id to pass back on the status endpoint.",
           "type": "string",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Bad Request Parameter/Body": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2003,
           "message": "Parse error at root.X: ...",
           "name": "BadRequestError",
           "httpStatusCode": 400
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Bad API Token": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2010,
           "message": "API token is invalid",
           "name": "UnauthorizedError",
           "httpStatusCode": 401
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "The fossabot feature is not enabled or the caller lacks permission.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "The issue does not exist in the calling organization.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Server Error": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2009,
           "message": "Sorry, we've encountered an unexpected error. We've recorded it. If you continue to see this, contact support at support@fossa.com and include the unique reference code: 00000000-0000-0000-0000-000000000000",
           "name": "InternalServerError",
           "httpStatusCode": 500
          }
         }
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "createFossabotDependencyUpgradePR",
    "x-internal": true,
    "description": "Ask fossabot to open a dependency-upgrade pull request for the issue. Asynchronous: the response is usually 'creating'; poll the GET endpoint with the returned jobId to watch it progress. Re-invoking after a failure starts a fresh attempt; invoking while a PR is already in flight returns the existing state.\n",
    "tags": [
     "Fossabot"
    ],
    "security": [
     {
      "ApiToken": []
     }
    ],
    "parameters": [
     {
      "name": "issueId",
      "description": "The FOSSA issue id.",
      "required": true,
      "in": "path",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "fix": {
          "description": "Which remediation target to use. Defaults to complete.",
          "type": "string",
          "enum": [
           "partial",
           "complete"
          ]
         },
         "projectLocator": {
          "description": "Required only when the issue affects more than one project.",
          "type": "string"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The freshly created (or already existing) PR state.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "State of a fossabot dependency-upgrade PR for a FOSSA issue.",
         "required": [
          "status",
          "vcsUrl",
          "fossabotUrl",
          "isAnalysisDelayed",
          "jobId"
         ],
         "properties": {
          "status": {
           "type": "string",
           "enum": [
            "none",
            "creating",
            "queued",
            "analyzing",
            "analysisNotRun",
            "needsReview",
            "readyToMerge",
            "merged",
            "closed",
            "failed"
           ]
          },
          "vcsUrl": {
           "description": "PR URL on the VCS provider. Null until the PR exists.",
           "type": "string",
           "nullable": true
          },
          "fossabotUrl": {
           "description": "PR URL in the fossabot UI. Null until the PR exists.",
           "type": "string",
           "nullable": true
          },
          "isAnalysisDelayed": {
           "description": "True while analysis is taking longer than expected or should be retried.",
           "type": "boolean"
          },
          "jobId": {
           "description": "Creation-job id to pass back on the status endpoint.",
           "type": "string",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Bad Request Parameter/Body": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2003,
           "message": "Parse error at root.X: ...",
           "name": "BadRequestError",
           "httpStatusCode": 400
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Bad API Token": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2010,
           "message": "API token is invalid",
           "name": "UnauthorizedError",
           "httpStatusCode": 401
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "The fossabot feature is not enabled or the caller lacks permission.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "The issue does not exist in the calling organization.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Server Error": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2009,
           "message": "Sorry, we've encountered an unexpected error. We've recorded it. If you continue to see this, contact support at support@fossa.com and include the unique reference code: 00000000-0000-0000-0000-000000000000",
           "name": "InternalServerError",
           "httpStatusCode": 500
          }
         }
        }
       }
      }
     },
     "503": {
      "description": "The fossabot integration is not configured.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/fossabot/issues/{issueId}/dependency-upgrade-pr/retry": {
   "post": {
    "operationId": "retryFossabotDependencyUpgradePRAnalysis",
    "x-internal": true,
    "description": "Re-run fossabot's analysis on the issue's dependency-upgrade PR (the \"analysis delayed\" retry action). Analysis consumes fossabot credits.\n",
    "tags": [
     "Fossabot"
    ],
    "security": [
     {
      "ApiToken": []
     }
    ],
    "parameters": [
     {
      "name": "issueId",
      "description": "The FOSSA issue id.",
      "required": true,
      "in": "path",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "projectLocator": {
          "description": "Required only when the issue affects more than one project.",
          "type": "string",
          "minLength": 1
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The refreshed PR state.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "State of a fossabot dependency-upgrade PR for a FOSSA issue.",
         "required": [
          "status",
          "vcsUrl",
          "fossabotUrl",
          "isAnalysisDelayed",
          "jobId"
         ],
         "properties": {
          "status": {
           "type": "string",
           "enum": [
            "none",
            "creating",
            "queued",
            "analyzing",
            "analysisNotRun",
            "needsReview",
            "readyToMerge",
            "merged",
            "closed",
            "failed"
           ]
          },
          "vcsUrl": {
           "description": "PR URL on the VCS provider. Null until the PR exists.",
           "type": "string",
           "nullable": true
          },
          "fossabotUrl": {
           "description": "PR URL in the fossabot UI. Null until the PR exists.",
           "type": "string",
           "nullable": true
          },
          "isAnalysisDelayed": {
           "description": "True while analysis is taking longer than expected or should be retried.",
           "type": "boolean"
          },
          "jobId": {
           "description": "Creation-job id to pass back on the status endpoint.",
           "type": "string",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Bad Request Parameter/Body": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2003,
           "message": "Parse error at root.X: ...",
           "name": "BadRequestError",
           "httpStatusCode": 400
          }
         }
        }
       }
      }
     },
     "402": {
      "description": "The organization is out of fossabot credits.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "The fossabot feature is not enabled or the caller lacks permission.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "The issue or its fossabot PR does not exist.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "The analysis is already running and cannot be retried yet.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Server Error": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2009,
           "message": "Sorry, we've encountered an unexpected error. We've recorded it. If you continue to see this, contact support at support@fossa.com and include the unique reference code: 00000000-0000-0000-0000-000000000000",
           "name": "InternalServerError",
           "httpStatusCode": 500
          }
         }
        }
       }
      }
     },
     "503": {
      "description": "The fossabot integration is not configured.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/v2/issues/categories": {
   "get": {
    "operationId": "getIssuesByCategory",
    "description": "Get the number of active issues by category",
    "tags": [
     "Issues"
    ],
    "parameters": [
     {
      "name": "scope[type]",
      "description": "Scope of issues to view / update",
      "required": true,
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "global",
        "project",
        "releaseGroup"
       ]
      }
     },
     {
      "name": "scope[id]",
      "description": "Project or release group ID (required when scope[type] is \"project\" or \"releaseGroup\")",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "scope[revision]",
      "description": "Revision ID (when scope[type] is \"project\")",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "scope[revisionScanId]",
      "description": "Revision scan ID (when scope[type] is \"project\")",
      "in": "query",
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "scope[release]",
      "description": "Release group ID (when scope[type] is \"releaseGroup\")",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "scope[releaseScanId]",
      "description": "Release scan ID (when scope[type] is \"releaseGroup\")",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "releaseGroupId",
      "description": "Scope the category counts to a single release group, using its latest release. When set, the counts are release-scoped, so the `teamId` filter does not apply. Requires view access to the release group; otherwise rejected with a `403`. Rejected with a `404` when the release group has no release to scope to.\n",
      "in": "query",
      "schema": {
       "type": "integer",
       "minimum": 1
      }
     },
     {
      "name": "teamId",
      "description": "Filter issues by one or more team IDs. Accepts a single team ID, an array of team IDs, or the literal string `\"null\"` to scope to unassigned projects. Requires the `View` permission on each requested team; otherwise the request is rejected with a `403`. Ignored for organizations on the free tier.\n",
      "in": "query",
      "schema": {
       "oneOf": [
        {
         "type": "string"
        },
        {
         "type": "array",
         "items": {
          "type": "string"
         }
        },
        {
         "type": "string",
         "enum": [
          "null"
         ]
        }
       ]
      }
     }
    ],
    "security": [
     {
      "ApiToken": []
     }
    ],
    "responses": {
     "200": {
      "description": "Number of active issues for each issue category",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "licensing": {
           "type": "integer"
          },
          "quality": {
           "type": "integer"
          },
          "vulnerability": {
           "type": "integer"
          }
         }
        }
       }
      }
     },
     "202": {
      "description": "Empty results with a message indicating the scoped project's build status",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "licensing": {
           "type": "integer"
          },
          "quality": {
           "type": "integer"
          },
          "vulnerability": {
           "type": "integer"
          }
         }
        },
        "examples": {
         "analyzing": {
          "value": {
           "message": "analysis in-progress",
           "licensing": 0,
           "quality": 0,
           "vulnerability": 0
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Bad Request Parameter/Body": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2003,
           "message": "Parse error at root.X: ...",
           "name": "BadRequestError",
           "httpStatusCode": 400
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "No team Access": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2005,
           "message": "You are not permitted to view this team.",
           "name": "ForbiddenError",
           "httpStatusCode": 403
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "NotFound",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Not Found": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2004,
           "message": "Project not found: custom+1/example$abc123",
           "name": "NotFoundError",
           "httpStatusCode": 404
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Server Error": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2009,
           "message": "Sorry, we've encountered an unexpected error. We've recorded it. If you continue to see this, contact support at support@fossa.com and include the unique reference code: 00000000-0000-0000-0000-000000000000",
           "name": "InternalServerError",
           "httpStatusCode": 500
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/v2/issues/types": {
   "get": {
    "operationId": "getIssuesByType",
    "description": "Get the number of active issues by type",
    "tags": [
     "Issues"
    ],
    "parameters": [
     {
      "name": "scope[type]",
      "description": "Scope of issues to view / update",
      "required": true,
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "global",
        "project",
        "releaseGroup"
       ]
      }
     },
     {
      "name": "scope[id]",
      "description": "Project or release group ID (required when scope[type] is \"project\" or \"releaseGroup\")",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "scope[revision]",
      "description": "Revision ID (when scope[type] is \"project\")",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "scope[revisionScanId]",
      "description": "Revision scan ID (when scope[type] is \"project\")",
      "in": "query",
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "scope[release]",
      "description": "Release group ID (when scope[type] is \"releaseGroup\")",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "scope[releaseScanId]",
      "description": "Release scan ID (when scope[type] is \"releaseGroup\")",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "teamId",
      "description": "Filter issues by one or more team IDs. Accepts a single team ID, an array of team IDs, or the literal string `\"null\"` to scope to unassigned projects. Requires the `View` permission on each requested team; otherwise the request is rejected with a `403`. Ignored for organizations on the free tier.\n",
      "in": "query",
      "schema": {
       "oneOf": [
        {
         "type": "string"
        },
        {
         "type": "array",
         "items": {
          "type": "string"
         }
        },
        {
         "type": "string",
         "enum": [
          "null"
         ]
        }
       ]
      }
     }
    ],
    "security": [
     {
      "ApiToken": []
     }
    ],
    "responses": {
     "200": {
      "description": "Number of active issues for each issue type",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "policy_conflict": {
           "type": "integer"
          },
          "policy_flag": {
           "type": "integer"
          },
          "unlicensed_dependency": {
           "type": "integer"
          },
          "outdated_dependency": {
           "type": "integer"
          },
          "vulnerability": {
           "type": "integer"
          }
         }
        }
       }
      }
     },
     "202": {
      "description": "Empty results with a message indicating the scoped project's build status",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "policy_conflict": {
           "type": "integer"
          },
          "policy_flag": {
           "type": "integer"
          },
          "unlicensed_dependency": {
           "type": "integer"
          },
          "outdated_dependency": {
           "type": "integer"
          },
          "vulnerability": {
           "type": "integer"
          }
         }
        },
        "examples": {
         "analyzing": {
          "value": {
           "message": "analysis in-progress",
           "policy_conflict": 0,
           "policy_flag": 0,
           "unlicensed_dependency": 0,
           "outdated_dependency": 0,
           "vulnerability": 0
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Bad Request Parameter/Body": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2003,
           "message": "Parse error at root.X: ...",
           "name": "BadRequestError",
           "httpStatusCode": 400
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "No team Access": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2005,
           "message": "You are not permitted to view this team.",
           "name": "ForbiddenError",
           "httpStatusCode": 403
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "uuid": {
           "type": "string",
           "description": "Unique identifier associated with the error"
          },
          "code": {
           "type": "integer",
           "description": "fossa specific error code"
          },
          "message": {
           "type": "string",
           "description": "message associated with this error"
          },
          "name": {
           "type": "string",
           "description": "name of the error"
          },
          "httpStatusCode": {
           "type": "integer",
           "description": "http status code number"
          }
         }
        },
        "examples": {
         "Server Error": {
          "value": {
           "uuid": "00000000-0000-0000-0000-000000000000",
           "code": 2009,
           "message": "Sorry, we've encountered an unexpected error. We've recorded it. If you continue to see this, contact support at support@fossa.com and include the unique reference code: 00000000-0000-0000-0000-000000000000",
           "name": "InternalServerError",
           "httpStatusCode": 500
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "/v2/issues/statuses": {
   "get": {
    "operationId": "getIssueStatuses",
    "description": "Get a count of issues by status, matching the provided filters",
    "tags": [
     "Issues"
    ],
    "parameters": [
     {
      "name": "category",
      "description": "Issue category",
      "required": true,
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "licensing",
        "vulnerability",
        "quality"
       ]
      }
     },
     {
      "name": "scope[type]",
      "description": "Scope of issues to view / update",
      "required": true,
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "global",
        "project",
        "releaseGroup"
       ]
      }
     },
     {
[...]
